* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

.brandLogo {
  margin: 3rem;
}

header {
  margin: 0rem 2rem 2rem 2rem;
  height: 95vh;
  background-image: url(imgs/markus-spiske-i5tesTFPBjw-unsplash.jpg);
  background-size: cover;
  background-position: 65% 35%;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  border-radius: 0 0 9px 9px;
  border-right: solid 2px black;
  border-left: solid 2px black;
  border-bottom: solid 2px black;
}

.imgOpacity {
  background-color: rgba (0 0 0 0.4);
}

img {
  max-width: 100%;
}

.menu {
  background: rgba(255, 255, 255, 0.1);
}
.nav__link {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 400;
}

.nav__link:visited {
  color: white;
}

.nav__link:hover {
  font-weight: 900;
  opacity: 50%;
}

.nav__link:focus {
  font-weight: 900;
  opacity: 50%;
}

.display-2 {
  color: white;
  font-size: 3.6rem;
}
